[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c "source $(getent passwd 1000 | cut --delimiter=: --fields=6)/bin/jupyter-venv/bin/activate; $(getent passwd 1000 | cut --delimiter=: --fields=6)/bin/jupyter-venv/bin/jupyter-lab --notebook-dir=$(getent passwd 1000 | cut --delimiter=: --fields=6)/notebooks --no-browser --ServerApp.ip=0.0.0.0 --ServerApp.password=sha1:05747e9c6adc:41f42b71921f00730e44f60d135eb04afbdb903a"
User=1000
Group=1000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
